@import '../../../../public/styles/core';

main {
    width: $wrapper-width;
    margin: 0 auto;
}

.productsMenu {
    @include productsMenu;
}

.zx9SpeakerSection {
    background: $accent-orange-dark;
    background-image: url('../../../../public/images/home/desktop/pattern-circles.svg');
    display: flex;
    height: 560px;
    border-radius: $radius;
    background-position: -156px 44px;
    background-repeat: no-repeat;
}

.zxImgSection, .zx9SpeakerSectionContent {
    width: 50%;
}

.zxImgSection {
    position: relative;
}

.zxImgSection img {
    width: 63%;
    position: relative;
    z-index: 0;
}

.zxImgWrapper {
    position: absolute;
    bottom: -16px;
    left: 117px;
    overflow: hidden;
}

.zx9SpeakerSectionContent {
    margin: auto;
}

.zx9SpeakerSectionContent p {
    @include body;
    color: #F5DFD2;
    margin: 20px 0 40px 0;
}

.zx9SpeakerSectionContent a{
    @include buttonBlack;
}

.speakerHover {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 2;
    background: #fff;
}

.zx7Speakers {
    background-image: url('../../../../public/images/home/desktop/image-speaker-zx7.jpg');
    width: 100%;
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $radius;
    padding: 150px 100px
}

.zx7Speakers h4 {
    @include h4;
    margin-bottom: 30px
}

.zx7Speakers a {
    @include buttonBlack;
}