@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
main {
  width: 75%;
  margin: 0 auto;
}

.productsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productsMenu {
  margin: 95px 0px;
}

.productsMenu .productsMenuProduct {
  background: #F1F1F1;
  border-radius: 8px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsMenu .productImgWrapper {
  width: 125px;
  margin: 10px 0;
}

.productsMenu .productsMenuProduct:nth-child(1) .productImgWrapper {
  margin: 8px 0;
}

.productsMenu .productsMenuProduct:nth-child(3) .productImgWrapper {
  margin: 14px 0;
}

.productsMenu .productImgWrapper img {
  width: 100%;
}

.productsMenu .menuBottomWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.productsMenu .menuBottomWrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsMenu .menuBottomWrapper div img {
  height: 80%;
}

.productsMenu .menuBottomWrapper p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.29px;
  margin-bottom: 17px;
}

.productsMenu .menuBottomWrapper a {
  color: #787878;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}

.productsMenu .menuBottomWrapper a:hover {
  color: #d87d4a;
}

.zx9SpeakerSection {
  background: #d87d4a;
  background-image: url("../../../public/images/home/desktop/pattern-circles.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  border-radius: 11px;
  background-position: -156px 44px;
  background-repeat: no-repeat;
}

.zxImgSection, .zx9SpeakerSectionContent {
  width: 50%;
}

.zxImgSection {
  position: relative;
}

.zxImgSection img {
  width: 63%;
  position: relative;
  z-index: 0;
}

.zxImgWrapper {
  position: absolute;
  bottom: -16px;
  left: 117px;
  overflow: hidden;
}

.zx9SpeakerSectionContent {
  margin: auto;
}

.zx9SpeakerSectionContent p {
  font-size: 15px;
  line-height: 25px;
  color: #F5DFD2;
  margin: 20px 0 40px 0;
}

.zx9SpeakerSectionContent a {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 15px 30px;
}

.zx9SpeakerSectionContent a:hover {
  background: #4C4C4C;
}

.speakerHover {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 2;
  background: #fff;
}

.gridWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gridWrapper .zx7Speakers {
  background-image: url("../../../public/images/home/desktop/image-speaker-zx7.jpg");
  grid-column: span 2;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 11px;
  padding: 12% 9%;
  margin-bottom: 6%;
}

.gridWrapper .zx7Speakers a {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 15px 30px;
}

.gridWrapper .zx7Speakers a:hover {
  background: #000;
  color: #fff;
}

.gridWrapper .zx7Speakers h4, .gridWrapper .earphonesSectionContent h4 {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.gridWrapper .imageWrapper {
  margin-right: 30px;
}

.gridWrapper .imageWrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gridWrapper .imageWrapper img, .gridWrapper .earphonesSectionContent {
  border-radius: 11px;
}

.gridWrapper .earphonesSectionContent {
  background: #F1F1F1;
  padding: 18% 16%;
}

.gridWrapper .earphonesSectionContent a {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 15px 30px;
}

.gridWrapper .earphonesSectionContent a:hover {
  background: #000;
  color: #fff;
}

.descriptionSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18% 0 18% 0;
}

.descriptionSection .descriptionSectionText, .descriptionSection .descriptionSectionImg {
  width: 50%;
}

.descriptionSection .descriptionSectionText {
  margin: auto 11% auto 0;
}

.descriptionSection .descriptionSectionText h2 {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1,5px;
  margin-bottom: 7%;
}

.descriptionSection .descriptionSectionText p {
  font-size: 15px;
  line-height: 25px;
  color: #7D7D7D;
}

.descriptionSection .descriptionSectionText span {
  color: #d87d4a;
}

.descriptionSection .descriptionSectionImg img {
  width: 100%;
  border-radius: 11px;
}
/*# sourceMappingURL=Home.module.css.map */