@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$main-dark-color : #000;
$secnodary-dark-color : #101010;
$accent-gray-dark: #f1f1f1;
$accent-gray-light: #fafafa;
$accent-orange-dark: #d87d4a;
$accent-orange-light: #fbaf85;
$font : 'Manrope', sans-serif;
$body-color-dark: #7D7D7D;
$body-color-light: #878787;
$wrapper-width: 75%;
$header-border: #434343 solid 1px;
$radius: 11px;

@mixin h1 {
    font-weight: bold;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 58px;
    letter-spacing: 2px;
    color: #fff;
}

@mixin h2 {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: 1,5px;
}

@mixin h3 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1,15px;
}

@mixin h4 {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 38px;
    letter-spacing: 2px;
}

@mixin h5 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 33px;
    letter-spacing: 1,7px;
}

@mixin h6 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1,3px;
}

@mixin overline {
    color: $body-color-light;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 10px;
}

@mixin sub-title {
    font-style: bold;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
}

@mixin body {
    font-size: 15px;
    line-height: 25px;
}

@mixin menu {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;

    a{
        color: #fff;
        margin-right: 34px;
        &:hover {
            color: $accent-orange-dark;
        }
    }
}

@mixin catalogHeader {
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;

    h2 {
        @include h2;
        margin: 0;
        padding: 10% 0 10%;
    }

    .headerWrapper {
        width: $wrapper-width;
        margin: 0 auto;
        border-top: $header-border;
    }
}

@mixin catalogGridSection {
    width: $wrapper-width;
    margin: 9% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .imageWrapper {
        margin-bottom: 20%;

        img {
            width: 100%;
            border-radius: $radius;
        }
    }

    .description:nth-child(even) {
        padding: 17% 0 0 20%;
    }

    .description:nth-child(odd) {
        padding: 17% 20% 0 0; 
    }

    .description {

        h5 {
            @include overline;
            color: $accent-orange-dark;
            font-weight: 400;
        }

        h2 {
            @include h2;
            margin: 3% 0 6% 0;
        }

        p {
            @include body;
            color: $body-color-dark;
            margin-bottom: 14%
        }

        a {
            @include buttonOrange;
        }
    }


}

@mixin buttonOrange {
    color: #fff;
    background: #D87D4A;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 30px;
    &:hover{
        background: #FBAF84;
    }
}

@mixin buttonBlack {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 15px 30px;
    &:hover{
        background: #4C4C4C;
    }
}

@mixin buttonWhite {
    background: #fff;
    border: 2px solid #000;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 15px 30px;
    &:hover{
        background: #000;
        color: #fff;
    }
}

@mixin btnGoBack {
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: #fff;
    color: #7D7D7D;
    &:hover {
        cursor: pointer;
        color: #D87D4A;
    }
}


@mixin productsMenu {
    display: flex;
    justify-content: space-between;

    .productsMenuProduct {
        background: #F1F1F1;
        border-radius: 8px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productImgWrapper {
        width: 125px;
        margin: 10px 0;
    }

    .productsMenuProduct:nth-child(1) .productImgWrapper {
        margin: 8px 0;
    }

    .productsMenuProduct:nth-child(3) .productImgWrapper {
        margin: 14px 0;
    }

    .productImgWrapper img {
        width: 100%;
    }

    .menuBottomWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 22px;
    }

    .menuBottomWrapper div {
        display: flex;
        align-items: center;
    }

    .menuBottomWrapper div img {
        height: 80%;
    }

    .menuBottomWrapper p {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.29px;
        margin-bottom: 17px;
    }

    .menuBottomWrapper a {
        color: #787878;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        &:hover {
            color: $accent-orange-dark;
        }
        margin-right: 10px;
    }
}

