@import './core';

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}