@import '../../../../public/styles/core';

.headerWrapper{
    width: $wrapper-width;
    margin: 0 auto;
    padding: 5% 0 16% 0;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 32px;
}

.nav {
    @include menu;
}